@{
    ViewBag.Title = "About";
}
<div>
    <h1 class="display-4 text-center ">About Me</h1>
    <hr />

    <div class="talk-bubble">
        <ul>
            <li>
                willing to take challenge
            </li>
            <li>
                keep learning
            </li>
            <li>
                hard worker
            </li>
        </ul>
    </div>
    <img class="human-arm-up" src="~/Image/picture/arm-up.svg" />
</div>