@{
    ViewBag.Title = "Home";
}

<div class="text-center home-margin">
    <h1 class="display-4">Welcome!</h1>
    <p>
        I am Timmy Tang. <br />
        I made this site by using ASP.NET(with MVC model).<br />
        You may have a look to my profile.
    </p>
</div>
