@{
    ViewBag.Title = "Protfolio";
}
<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <hr />
    <div class="prof">
        <h2>Food order system:(template)</h2>
        <img class="prof-img" src="~/Image/picture/FOS.png">
        <hr>
        <h2>Wordpress</h2>
        <img class="prof-img" src="~/Image/picture/pro-1.PNG">
        <br />
        <div class="click-btn" onclick="location.href='https://ecsigp1com.wordpress.com/'">
            Click Here to have a look
        </div>
        <hr>
        <h2>Share Point/Flow/From</h2>
        <div>
            <img class="prof-img" src="~/Image/picture/sp.png">
        </div>
        <br />
        <div>
            <img class="prof-img" src="~/Image/picture/flow.png">
        </div>
        <br />
        <div>
            <img class="prof-img" src="~/Image/picture/form.png">
        </div>
    </div>
</div>