@{
    ViewBag.Title = "Skills";
}
<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <hr />
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-img" style="background-image: url(/Image/logo/js.png);"></div>
            <div class="swiper-slide swiper-slide-img" style="background-image:url(/Image/logo/html5.svg)"></div>
            <div class="swiper-slide swiper-slide-img" style="background-image:url(/Image/logo/css-3.svg)"></div>
            <div class="swiper-slide swiper-slide-img" style="background-image:url(/Image/logo/jquery.png)"></div>
            <div class="swiper-slide swiper-slide-img" style="background-image:url(/Image/logo/mysql.png);"></div>
            <div class="swiper-slide swiper-slide-img" style="background-image:url(/Image/logo/php.png);"></div>
            <div class="swiper-slide swiper-slide-img" style="background-image:url(/Image/logo/bootstrap.png)"></div>
            <div class="swiper-slide swiper-slide-img" style="background-image:url(/Image/logo/python.png)"></div>
            <div class="swiper-slide swiper-slide-img" style="background-image:url(/Image/logo/unity.png)"></div>
            <div class="swiper-slide swiper-slide-img" style="background-image:url(/Image/logo/andStudio.png)"></div>
            <div class="swiper-slide swiper-slide-img" style="background-image:url(/Image/logo/wordpress.png);"></div>
        </div>
    </div>
</div>
